section{
    padding-top: 180px;
}
.maincontainer{
    display: flex;
    justify-content: center;
    color: white;
}
.productPrice{
    color: orange;
    font-size: 16px;
}
.image{
    display: flex;
    align-items: center;
    column-gap: 50px;
    /* padding-left: 74px; */
}
.header-search{
    display: flex;
    align-items: center;
    column-gap: 15px;
}
.icon-1{
    display: flex;
   column-gap: 80px;
}
.image img{
    width: 137px;
    height: 42px;
}
#input{
    height: 40px;
    width: 800px;
    border: none;
}
header{
    background-color: orangered;
    height: 125px;
    width: 100%;
    /* position: sticky;
    top: 0;
    display: flex;
    align-items: center;   
    color: white;
    font-size: 12px; */
}
 nav ul{
    display: flex;
    list-style-type: none;
    column-gap: 35px;
    font-family: sans-serif;
    font-size: 11px;
    padding-left: 460px;
    /* padding-left: 617px;
    padding-top:0px; */
}
.daraz-shop-icon{
    padding-right: 20px
}